.body {
  background-color: yellowgreen;
}

.header {
  background-color: rgb(53, 26, 26);
  color: aqua;
  text-align: center;
  font-family: sans-serif;
  font-size: 90px;
  font-weight: bold;
}

.list {
  list-style: none;
  font-size: 60px;
  text-align: center;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: green;
}

a:visited {
  color: rgb(155, 16, 39);
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  width: 400px;
}

.return {
  display: block;
  margin-left: auto;
  width: 5%;
}

h2 {
  background-color: black;
  color: white;
  text-align: center;
}

div.parent {
  text-align: center;
}

div ul {
  display: inline-block;
  text-align: left;
  list-style: none;
}

div ol{
    display: inline-block;
    text-align: left;
}

.lasdiv p{
  margin: 10;
}
.make{
  background-color: brown;
}

.layer{
  background-color: rgb(109, 27, 27);
}

.ahead{
  background-color: rgb(107, 27, 27);
  color: white;
}

.reheat{
  background-color: rgb(54, 13, 13);
  color: white
}

.best{
  background-color: rgb(20, 5, 5);
  color: white;
}
